:root {
  --gelap: #1b2326;
  --abu: #3a4f52;
  --hijau: #0ff5cb;
  --putih: #eff3f3;
}

/* Navbar CSS */
.navbar {
  background-color: var(
    --gelap
  ) !important; /* Menggunakan variabel warna --gelap */
}

.navbar .navbar-logo {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--putih); /* Menggunakan variabel warna --putih */
}

.navbar .navbar-logo span {
  color: var(--hijau); /* Menggunakan variabel warna --hijau */
}

/* Section One CSS */
.section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbc2eb;
  background-image: linear-gradient(0deg, #3a4f52, var(--abu), #1b2326);
  padding: 100px 0;
  text-align: center;
  position: relative;
}

.section-one .section-one-content {
  margin-bottom: 30px;
}

.section-one .section-one-heading {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-one .section-one-text {
  color: #fff;
  font-size: 18px;
}

.section-one .section-one-form {
  background-color: transparent;
  margin: 0 auto;
}
.section-one .section-one-form input {
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan untuk memberikan kesan tumpukan */
}

.section-one #pasteBtn {
  background-color: white;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan untuk memberikan kesan tumpukan */
}

.section-one .buttonUnduh {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.section-one .buttonUnduh .btn {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan untuk memberikan kesan tumpukan */
}

.section-one #result {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan untuk memberikan kesan tumpukan */
}

/* result yt */
.section-one #result .details-yt {
  position: relative;
  text-align: left;
}

.section-one #result .download-tabs-yt {
  margin: 1rem 0rem;
}

.section-one #result .img-result-yt {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* result instagram */
.section-one #result .ig-item {
  margin-bottom: 1rem;
}
.section-one #result .res-ig {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-one #result #img-ig {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.section-one #result .ig-download-button {
  border-radius: 20px;
}

.section-one .input-group {
  width: 100%;
}

.section-one .form-control {
  border-radius: 0;
}

.section-one .btn-primary {
  border-radius: 0;
  display: block;
  margin-top: 10px;
}

.section-one .btn-primary:hover {
  opacity: 0.8;
}

.section-one .section-one-subheading {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Section Two CSS */
.section-two .headertext {
	color: var(--putih);
	width: 100%;
	text-align: center;
}
.section-two .headertext .judulgede {
	font-weight: bold;
}

.section-two .headtwo {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.section-two .headtwo .card {
  max-width: 700px;
  background-color: var(--abu);
  margin-bottom: 25px;
  display: flex;
}

.section-two .headtwo .card h5 {
  font-weight: bold;
}


.section-two .headtwo .row {
  background-color: white;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 15px;
}

/* MQ SECTION-TWO */
/* laptop */
@media (max-width: 1366px) {
}
/* Tablet */
@media (max-width: 768px) {
  .section-two .headtwo .card {
  max-width: 350px;
  }
  .section-two .headtwo .card .img {
    min-width: 350px;
    min-height: 150px;
  }
  .section-two .headtwo .card h5 {
    font-size: 15px;
  }
  .section-two .headtwo .card p {
    font-size: 10px;
  }
}
/* phone */
@media (max-width: 450px) {
  .section-two .headtwo .card {
  max-width: 250px;
  }
  .section-two .headtwo .card .img {
  min-width: 250px;
  min-height: 150px
  }
  .section-two .headtwo .card h5 {
    font-size: 15px;
  }
  .section-two .headtwo .card p {
    font-size: 10px;
  }
}

/* FAQ SECTION */
.section-faq {
	width: 100%;
	min-height: 80vh;
  background-image: url('../../img/ten.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--abu);
}

.section-faq .parent {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.section-faq .judulgede {
	padding-top: 60px;
	/* margin: 20px auto 80px; */
	font-size: 38px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.5;
  color: var(--putih);
}

.section-faq .accordion {
  background-color: var(--abu);
  width: 700px;
}

/* Ganti nilai 50px sesuai dengan tinggi yang diinginkan untuk h2 */
.section-faq .accordion .accordion-item h2.accordion-header {
  height: 100px;
  line-height: 50px; /* Gunakan line-height yang sama dengan tinggi untuk mengatur posisi teks secara vertikal */
  padding: 10px;
}

.section-faq .accordion .accordion-item h2 {
  /* border-radius: 20px; */
  padding: 10px;
}


.section-faq .accordion .accordion-item .accordion-body {
  /* height: 200px; */
  top: 200px;
  padding-top: 20px;
  overflow-y: auto; /* Gunakan overflow-y: auto; jika Anda ingin menambahkan scrollbar jika konten terlalu panjang */
}
/* Footer CSS */
.footer {
  background-color: var(--gelap); /* Menggunakan variabel warna --gelap */
  color: var(--putih); 
  padding: 40px 0;
}

.footer .footer-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-links li {
  margin-bottom: 10px;
}

.footer .footer-links a {
  color: var(--putih); /* Menggunakan variabel warna --putih */
}

.footer .footer-social {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer .footer-social li {
  display: inline-block;
  margin-right: 10px;
}

.footer .footer-social a {
  color: var(--hijau); /* Menggunakan variabel warna --hijau */
  font-size: 18px;
  text-decoration: none;
}

.footer .footer-social a:hover {
  color: #007bff;
}

/* toast style */
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
