:root {
	--gelap: #1b2326;
	--abu: #3a4f52;
	--hijau: #0ff5cb;
	--putih: #eff3f3;
}

/* Navbar CSS */
.navbar {
	background-color: var(
		--gelap
	) !important; /* Menggunakan variabel warna --gelap */
}

.navbar .navbar-logo {
	margin-left: 1rem;
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--putih); /* Menggunakan variabel warna --putih */
}

.navbar .navbar-logo span {
	color: var(--hijau); /* Menggunakan variabel warna --hijau */
}

/* Section One CSS */
.section-one {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fbc2eb;
	background-image: linear-gradient(0deg, #3a4f52, #0ff5cb, #1b2326);
	padding: 100px 0;
	text-align: center;
	position: relative;
}

.section-one .section-one-content {
	margin-bottom: 30px;
}

.section-one .section-one-heading {
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

.section-one .section-one-text {
	color: #fff;
	font-size: 18px;
}

.section-one .section-one-form {
	background-color: transparent;
	margin: 0 auto;
}
.section-one .section-one-form input {
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan untuk memberikan kesan tumpukan */
}

.section-one #pasteBtn {
	background-color: white;
	margin-left: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan untuk memberikan kesan tumpukan */
}

.section-one .buttonUnduh {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
.section-one .buttonUnduh .btn {
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan untuk memberikan kesan tumpukan */
}

.section-one #result {
	background-color: white;
	border-radius: 10px;
	padding: 2rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan untuk memberikan kesan tumpukan */
}

.section-one #result .details {
	position: relative;
	text-align: left;
}

.section-one #result .download-tabs {
	margin: 1rem 0rem;
}

.section-one #result .img-result {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: auto;
	object-fit: contain;
}

.section-one .input-group {
	width: 100%;
}

.section-one .form-control {
	border-radius: 0;
}

.section-one .btn-primary {
	border-radius: 0;
	display: block;
	margin-top: 10px;
}

.section-one .btn-primary:hover {
	opacity: 0.8;
}

.section-one .section-one-subheading {
	color: #333;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

/* Section Two CSS */
.section-two {
	padding: 100px 0;
	background-color: var(--abu); /* Menggunakan variabel warna --abu */
	color: var(--putih); /* Menggunakan variabel warna --putih */
}

.section-two .section-two-video {
	margin-bottom: 30px;
}

.section-two .section-two-tutorial {
	text-align: left;
}

.section-two .section-two-subheading {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.section-two .section-two-text {
	font-size: 18px;
	margin-bottom: 20px;
}

.section-two .section-two-steps li {
	margin-bottom: 10px;
}

/* Footer CSS */
.footer {
	background-color: var(--gelap); /* Menggunakan variabel warna --gelap */
	color: var(--putih); /* Menggunakan variabel warna --putih */
	padding: 40px 0;
}

.footer .footer-heading {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-links li {
	margin-bottom: 10px;
}

.footer .footer-links a {
	color: var(--putih); /* Menggunakan variabel warna --putih */
}

.footer .footer-social {
	list-style: none;
	padding: 0;
	margin-top: 10px;
}

.footer .footer-social li {
	display: inline-block;
	margin-right: 10px;
}

.footer .footer-social a {
	color: var(--hijau); /* Menggunakan variabel warna --hijau */
	font-size: 18px;
	text-decoration: none;
}

.footer .footer-social a:hover {
	color: #007bff;
}

/* toast style */
.colored-toast.swal2-icon-success {
	background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
	background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
	background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
	background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
	background-color: #87adbd !important;
}

.colored-toast .swal2-title {
	color: white;
}

.colored-toast .swal2-close {
	color: white;
}

.colored-toast .swal2-html-container {
	color: white;
}
