:root {
	--gelap: #1b2326;
	--abu: #3a4f52;
	--hijau: #0ff5cb;
	--putih: #f5fefd;
}

.section-two {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 4rem;
}

.section-two .parent {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
	width: 80%;
	background-color: var(--putih);
	color: var(--gelap);
	padding: 1rem 3% 1rem;
	border-radius: 20px;
	background-color: rgb(
		245,
		254,
		253
	); /* Warna biru dengan tingkat transparansi 0.5 */
	/* overflow: hidden; */
	box-shadow: 0 0 10px 5px rgba(15, 245, 203, 0.7);
}
.section-two .parent .content-wrapper {
	min-width: 80%;
	display: flex;
	justify-content: space-between;
}

.section-two .parent .content-wrapper .content {
	font-size: 25px;
	padding: 1rem;
	text-align: center;
}

.section-two .parent .content-wrapper .content p {
	font-size: 1rem;
}
.section-two .parent .content-wrapper .content .icon {
	display: flex;
	justify-content: center;
	font-size: 40px;
}

/* MQ */
/* laptop */
@media (max-width: 1366px) {
	.section-two h2 {
		font-size: 300%;
	}
}
/* Tablet */
@media (max-width: 768px) {
	.section-two .parent {
		min-height: 15vh;
	}
}
/* phone */
@media (max-width: 450px) {
	.section-two .parent {
		min-height: 15vh;
	}
	.section-two .parent .content h3 {
		font-size: 2rem;
	}

	.section-two .parent .content p {
		font-size: 0.5rem;
	}
}
