<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<!-- Favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="../img/icon/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="../img/icon/favicon-32x32.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="../img/icon/favicon-16x16.png" />
		<link
			rel="manifest"
			href="../img/icon/site.webmanifest" />
		<title>Terms of Service - SnapApp</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				margin: 0;
				padding: 0;
			}

			.container {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
				max-width: 800px;
				margin: 5rem auto;
				padding: 20px;
			}

			h1 {
				text-align: center;
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 10px;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<h1>Terms of Service</h1>
			<p>
				Welcome to SnapApp! Please note that by using our services, you agree to
				be bound by the following terms and conditions. Please read them
				carefully before using SnapApp.
			</p>

			<h2>1. Acceptance of Terms</h2>
			<p>
				By accessing and using SnapApp, you acknowledge that you have read,
				understood, and agreed to all the terms and conditions outlined in this
				document. If you do not agree with any part of these terms and
				conditions, you are not permitted to use our services.
			</p>

			<h2>2. Use of the Service</h2>
			<p>
				a. SnapApp is a platform that provides services for downloading media
				content from social media platforms such as YouTube, Facebook, TikTok,
				and Instagram.
			</p>
			<p>
				b. Our services are only available to users who are at least 13 years
				old. By using SnapApp, you represent that you meet this age requirement.
			</p>
			<p>
				c. You may only use SnapApp for personal and non-commercial purposes.
				The use of the service for illegal purposes or copyright infringement is
				not permitted.
			</p>

			<h2>3. Downloaded Content</h2>
			<p>
				a. SnapApp does not store or claim ownership over the content downloaded
				by users. All intellectual property rights to the content remain with
				the original owners.
			</p>
			<p>
				b. You are solely responsible for the use of the content downloaded from
				our service. SnapApp is not responsible for the content or any
				consequences arising from its use.
			</p>
			<p>
				c. Please ensure compliance with the policies of the respective social
				media platforms regarding the downloading and use of content from those
				platforms.
			</p>

			<h2>4. User Responsibility</h2>
			<p>a. You are responsible for all actions taken while using SnapApp.</p>
			<p>
				b. You are not allowed to use this service to download content that
				infringes copyrights or violates the policies of social media platforms.
			</p>
			<p>
				c. You agree not to use our services for unlawful purposes or to harm
				others.
			</p>

			<h2>5. Changes to the Service</h2>
			<p>
				SnapApp reserves the right to modify or discontinue the service at any
				time without prior notice. We are not liable for any losses or damages
				resulting from such modifications or discontinuation.
			</p>

			<h2>6. Governing Law</h2>
			<p>
				These terms and conditions are governed by and construed in accordance
				with the laws of Indonesia. Any disputes arising from the use of SnapApp
				shall be subject to the exclusive jurisdiction of the courts of
				Indonesia.
			</p>

			<p>
				By using SnapApp, you agree to these Terms of Service. If you have any
				questions or concerns, please contact us at
				<a href="mailto:contact@snapapp.id">contact@snapapp.id</a>
			</p>
		</div>
	</body>
</html>
