<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 style="color: white !important">Snap App <%= menudl %></h5>
				<p style="color: #dfdfdf !important" class="text-lighten-4">
					Snapapp is a website that provides downloader services for social
					media platforms such as Instagram, Facebook, YouTube and TikTok. Users
					can download content such as videos, images and music for free with
					high download speed and secure service. Snapapp also has an intuitive
					interface, rich features, and responsive and friendly customer
					service. With all the advantages it has, Snapapp is the right choice
					for users who need downloader services for these platforms.
				</p>
			</div>
			<div class="col l3 s12">
				<h5 style="color: white !important">More Snap App Fitur</h5>
				<ul>
					<li>
						<a
							style="color: #dfdfdf !important"
							class="text-lighten-3"
							target="_blank"
							href="/instagram"
							>Instagram Downloader</a
						><br />
						<a
							style="color: #dfdfdf !important"
							class="text-lighten-3"
							target="_blank"
							href="/tiktok"
							>Tiktok Downloader</a
						><br />
						<a
							style="color: #dfdfdf !important"
							class="text-lighten-3"
							target="_blank"
							href="/youtube"
							>Youtube Downloader</a
						><br />
						<a
							style="color: #dfdfdf !important"
							class="text-lighten-3"
							target="_blank"
							href="/facebook"
							>Facebook Downloader</a
						><br />
					</li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 style="color: white !important">Legality</h5>
				<ul>
					<li>
						<a
							style="color: #dfdfdf !important"
							class="text-lighten-3"
							href="/terms"
							>Terms of Use</a
						>
					</li>
					<li>
						<a
							style="color: #dfdfdf !important"
							class="text-lighten-3"
							href="/privacy"
							>Privacy Policy</a
						>
					</li>
					<li>
						<a
							style="color: #dfdfdf !important"
							class="text-lighten-3"
							href="/contact"
							>Contact Us</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright" style="color: white !important">
		<div class="container">
			<%= new Date().getFullYear() %> ©
			<b> <a class="text-lighten-3" href="/">Snap App.</a> </b>
		</div>
	</div>
</footer>
