<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4 class="footer-heading">SnapApp</h4>
				<ul class="footer-social">
					Snapapp is a website that provides downloader services for social
					media platforms such as Instagram, Facebook, YouTube and TikTok. Users
					can download content such as videos, images and music for free with
					high download speed and secure service. Snapapp also has an intuitive
					interface, rich features, and responsive and friendly customer
					service. With all the advantages it has, Snapapp is the right choice
					for users who need downloader services for these platforms.
				</ul>
			</div>
			<div class="col-md-4">
				<h4 class="footer-heading">Features</h4>
				<ul class="footer-links">
					<li><a href="/youtube">Youtube Downloader</a></li>
					<li><a href="/facebook">Facebook Downloader</a></li>
					<li><a href="/instagram">Instagram Downloader</a></li>
					<li><a href="/tiktok">TikTok Downloader</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4 class="footer-heading">Other</h4>
				<ul class="footer-links">
					<li>
						<a
							target="_blank"
							href="/tos"
							>Terms Of Service</a
						>
					</li>
					<li>
						<a
							target="_blank"
							href="/privacypolicy"
							>Privacy Policy</a
						>
					</li>
					<li>
						<a
							target="_blank"
							href="mailto:contact@snapapp.id"
							>Contact Us</a
						>
					</li>
				</ul>
			</div>
		</div>
		<hr />
		<p class="text-center">© 2023 SnapApp. All rights reserved.</p>
	</div>
</footer>
