<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../css/page/download-page.css" />
    <title>SnapApp - Youtube Downloader</title>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('layout/navbar') %>

    <!-- Konten Utama -->
    <div class="content">
      <section class="section-one">
        <div class="container">
          <div class="col">
            <div class="section-one-content mt-4">
              <h1 class="section-one-heading">
                SnapApp - Unduh Berkas Anda dengan Mudah
              </h1>
              <p class="section-one-text">
                SnapApp adalah alat yang mudah digunakan yang memungkinkan Anda
                untuk mengunduh berkas dari berbagai sumber dengan mudah.
              </p>
            </div>
            <div class="section-one-form mt-4">
              <div class="row">
                <div class="col-sm-12 inputbg">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="link_url"
                      placeholder="Masukkan URL di sini..."
                    />
                    <div class="input-group-append">
                      <button class="btn" type="button" id="pasteBtn">
                        <i class="bi bi-clipboard"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 mt-3 buttonUnduh">
                  <button
                    id="downloadButton"
                    class="btn btn-primary btn-lg"
                    type="submit"
                  >
                    <i class="bi bi-cloud-download-fill"></i> Unduh
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id="resultWrapper"></div>
        </div>
      </section>

      <!-- Section two -->
      <section class="section-two" style="background-color: #3a4f52">
        <div class="headertext">
          <h1 class="judulgede">
            Bagaimana cara mendownload menggunakan SnapApp
          </h1>
          <p class="section-two-text">
            Ikuti langkah-langkah sederhana ini untuk mengunduh video/foto
            konten dari media sosial apa pun menggunakan SnapApp:
          </p>
        </div>
        <div class="headtwo" style="width: 100%">
          <div class="card" style="max-width: 700px; background-color: #3a4f52">
            <div class="row row g-0">
              <div class="col-md-4">
                <img
                  src="../img/ig.png"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    Buka platform media sosial dari mana Anda ingin mengunduh
                    konten apa pun
                  </h5>
                  <p class="card-text">
                    Langkah pertama adalah mencari tautan konten melalui fitur
                    masing-masing platform. Biasanya, Anda dapat menemukan
                    tautan tersebut dengan menggunakan fitur "bagikan" yang
                    tersedia pada postingan atau konten yang ingin Anda unduh.
                  </p>
                </div>
              </div>
            </div>
            <div class="row row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    Setelah Anda berhasil menemukan tautan konten yang ingin
                    Anda unduh, langkah berikutnya adalah kembali ke website
                    Snapapp
                  </h5>
                  <p class="card-text">
                    Apa manfaat menggunakan situs web kami? Anda dapat mengunduh
                    konten dari mana pun yang Anda inginkan hanya dengan
                    menempelkan tautan ke dalam kotak input di atas. Saat ini,
                    kami mendukung pengunduhan dari 4 platform media sosial.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <img
                  src="../img/ig.png"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
            </div>
            <div class="row row g-0">
              <div class="col-md-4">
                <img
                  src="../img/ig.png"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    Setelah berhasil memasukkan tautan konten yang ingin Anda
                    unduh, cukup tunggu beberapa saat hingga proses selesai
                    dengan cepat dan efisien.
                  </h5>
                  <p class="card-text">
                    Setelah berhasil memasukkan tautan konten yang ingin Anda
                    unduh, cukup tunggu beberapa saat hingga proses selesai
                    dengan cepat dan efisien.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- section 3 -->
      <section class="section-faq" id="faq">
        <h2>FAQs</h2>
        <div class="parent">
          <div
            style="
              visibility: hidden;
              position: absolute;
              width: 0px;
              height: 0px;
            "
          >
            <svg xmlns="http://www.w3.org/2000/svg">
              <symbol viewBox="0 0 24 24" id="expand-more">
                <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" />
                <path d="M0 0h24v24H0z" fill="none" />
              </symbol>
              <symbol viewBox="0 0 24 24" id="close">
                <path
                  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                />
                <path d="M0 0h24v24H0z" fill="none" />
              </symbol>
            </svg>
          </div>

          <div class="detail-head">
            <details>
              <summary>
                Platform media sosial mana yang didukung untuk diunduh di
                SnapApp?
                <svg
                  class="control-icon control-icon-expand"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#expand-more"
                  />
                </svg>
                <svg
                  class="control-icon control-icon-close"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#close"
                  />
                </svg>
              </summary>
              <p>
                Saat ini, kami mendukung pengunduhan konten dari Instagram,
                TikTok, Facebook, dan YouTube.
              </p>
            </details>
          </div>
          <details>
            <summary>
              Cara mengunduh konten dari YouTube?
              <svg
                class="control-icon control-icon-expand"
                width="24"
                height="24"
                role="presentation"
              >
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#expand-more"
                />
              </svg>
              <svg
                class="control-icon control-icon-close"
                width="24"
                height="24"
                role="presentation"
              >
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#close"
                />
              </svg>
            </summary>
            <p>
              Anda dapat menemukan tombol unduh di menu tiga titik di pojok
              video.
            </p>
          </details>

          <details>
            <summary>
				Apakah ada batasan atau pembatasan tertentu?
              <svg
                class="control-icon control-icon-expand"
                width="24"
                height="24"
                role="presentation"
              >
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#expand-more"
                />
              </svg>
              <svg
                class="control-icon control-icon-close"
                width="24"
                height="24"
                role="presentation"
              >
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#close"
                />
              </svg>
            </summary>
            <p>Hanya imajinasi Anda, tidak ada batasan untuk mendownload. Majulah!</p>
          </details>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <%- include('layout/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
      integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="../js/download-page-id.js"></script>
  </body>
</html>
