<!DOCTYPE html>
<html lang="id">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= menudl %> | SnapApp</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap"
    />
    <link rel="stylesheet" href="css/page/instagram.css" />
  </head>
  <body>
    <%- include('layout/navbar') %>
    <section class="hero">
      <div
        class="center"
        style="
          min-height: 70vh;
          background: linear-gradient(to bottom, #833ab4, #fd1d1d, #ffffff);
        "
      >
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h1 class="headone white-text">Instagram Downloader</h1>
              <h2 class="headtwo white-text">
                Download with Ease, Anytime, Anywhere!
              </h2>
              <div class="col s12">
                <div class="row">
                  <div
                    class="input-field col s12"
                    style="background-color: #1b2326"
                  >
                    <input
                      type="text"
                      autocapitalize="none"
                      id="link_url"
                      style="border-color: white"
                      class="inputw white-text validate"
                      required
                      autocomplete="off"
                    />
                    <label class="white-text" for="link_url"
                      >Input your Url here...</label
                    >
                    <div id="paste">
                      <i class="material-icons prefix right">content_paste</i>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <button
                      class="btn waves-effect waves-light orange"
                      type="submit"
                    >
                      <i class="material-icons right">send</i> Unduh
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cara-download">
      <div class="judul">
        <h2 style="font-size: 30px">Cara Download</h2>
      </div>
      <div class="container">
        <div class="articles">
          <article>
            <div class="article-wrapper">
              <figure>
                <img src="../../public/img/ig.jpeg" alt="" />
              </figure>
              <div class="article-body">
                <h2>This is some title</h2>
                <p>
                  Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
                  euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
                  lobortis porta. Vestibulum ultrices iaculis enim imperdiet
                  egestas.
                </p>
                <!-- <a href="#" class="read-more">
						Read more
						<span class="sr-only">about this is some title</span>
						<svg
						  xmlns="http://www.w3.org/2000/svg"
						  class="icon"
						  viewBox="0 0 20 20"
						  fill="currentColor"
						>
						  <path
							fill-rule="evenodd"
							d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
							clip-rule="evenodd"
						  />
						</svg>
					  </a> -->
              </div>
            </div>
          </article>
          <div class="penjelasan">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
              vel distinctio similique nemo eius sint iste soluta corporis
              cumque fugiat, vero cum corrupti consequatur incidunt facilis unde
              quo ullam illo. Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Ipsam aperiam voluptas omnis vitae accusamus, possimus sunt
              eaque amet, earum provident recusandae? Commodi sequi, voluptatum
              dicta quo sed voluptatem totam numquam? Lorem ipsum dolor, sit
              amet consectetur adipisicing elit. Ad cum quod saepe optio
              voluptatum ratione nisi quae quis illo quibusdam aut eligendi,
              laudantium vel architecto sapiente dolores omnis magnam nulla.
            </p>
          </div>
        </div>
        <div class="palak-iklan">
          <div class="iklan">IKLAN</div>
        </div>
        <div class="articles">
          <div class="penjelasan">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
              vel distinctio similique nemo eius sint iste soluta corporis
              cumque fugiat, vero cum corrupti consequatur incidunt facilis unde
              quo ullam illo. Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Perferendis, dolores pariatur. Atque a illum
              sint amet nesciunt possimus error labore perferendis, eos,
              laboriosam quae vero voluptatem! Sed omnis accusamus reiciendis?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Deserunt, inventore officia! Quo nihil, odio corporis quia, rerum
              blanditiis ipsum in maiores at amet tempora possimus fugit ab,
              deserunt molestiae totam.
            </p>
          </div>
          <article>
            <div class="article-wrapper">
              <figure>
                <img src="../../public/img/ig.jpeg" alt="" />
              </figure>
              <div class="article-body">
                <h2>This is some title</h2>
                <p>
                  Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
                  euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
                  lobortis porta. Vestibulum ultrices iaculis enim imperdiet
                  egestas.
                </p>
                <!-- <a href="#" class="read-more">
						Read more
						<span class="sr-only">about this is some title</span>
						<svg
						  xmlns="http://www.w3.org/2000/svg"
						  class="icon"
						  viewBox="0 0 20 20"
						  fill="currentColor"
						>
						  <path
							fill-rule="evenodd"
							d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
							clip-rule="evenodd"
						  />
						</svg>
					  </a> -->
              </div>
            </div>
          </article>
        </div>
        <div class="palak-iklan">
          <div class="iklan">IKLAN</div>
        </div>
        <div class="articles">
          <article>
            <div class="article-wrapper">
              <figure>
                <img src="../../public/img/ig.jpeg" alt="" />
              </figure>
              <div class="article-body">
                <h2>This is some title</h2>
                <p>
                  Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
                  euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
                  lobortis porta. Vestibulum ultrices iaculis enim imperdiet
                  egestas.
                </p>
                <!-- <a href="#" class="read-more">
						Read more
						<span class="sr-only">about this is some title</span>
						<svg
						  xmlns="http://www.w3.org/2000/svg"
						  class="icon"
						  viewBox="0 0 20 20"
						  fill="currentColor"
						>
						  <path
							fill-rule="evenodd"
							d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
							clip-rule="evenodd"
						  />
						</svg>
					  </a> -->
              </div>
            </div>
          </article>
          <div class="penjelasan">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
              vel distinctio similique nemo eius sint iste soluta corporis
              cumque fugiat, vero cum corrupti consequatur incidunt facilis unde
              quo ullam illo. Lorem ipsum dolor sit amet consectetur adipisicing
              elit. A harum illum voluptatum sapiente provident, laboriosam,
              amet sit iusto tenetur officia quas, similique eos qui ipsum
              voluptate distinctio tempore quia expedita. Lorem ipsum, dolor sit
              amet consectetur adipisicing elit. Odio vero quos cupiditate dolor
              tempore sequi error soluta fugiat iure nam ipsa ad, voluptate
              molestiae et, totam odit quo nobis. Nihil. Lorem ipsum dolor sit,
              amet consectetur adipisicing elit. Itaque error assumenda ipsam,
              alias ipsa nobis aut, esse saepe atque laudantium eius obcaecati
              soluta. Aut blanditiis, magni quae perspiciatis unde sequi.
            </p>
          </div>
        </div>
        <div class="palak-iklan">
          <div class="iklan">IKLAN</div>
        </div>
      </div>
    </section>
    <%- include('layout/footer') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/index-download.js"></script>
  </body>
</html>
